@charset "UTF-8";@font-face{font-family:"icomoon";src:url("../fonts/icomoon.eot?7ulpqm");src:url("../fonts/icomoon.eot?7ulpqm#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff2?7ulpqm") format("woff2"), url("../fonts/icomoon.ttf?7ulpqm") format("truetype"), url("../fonts/icomoon.woff?7ulpqm") format("woff"), url("../fonts/icomoon.svg?7ulpqm#icomoon") format("svg");font-weight:normal;font-style:normal}.icon{font-family:"icomoon"!important;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.icon-info:before{content:""}.icon-border:before{content:""}.icon-haus:before{content:""}.icon-time:before{content:""}.icon-check:before{content:""}.icon-plus:before{content:""}.icon-arrow_left:before{content:""}.icon-arrow_right:before{content:""}.icon-instagram:before{content:""}.icon-pinterest:before{content:""}.icon-snapchat:before{content:""}.icon-snapchat2:before{content:""}.icon-minus:before{content:""}.icon-scroll:before{content:""}

/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter,  Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=fde87ce27bf43919c14e)
 * Config saved to config.json and https://gist.github.com/fde87ce27bf43919c14e
 */
/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter,  Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.row{margin-left:-10px;margin-right:-10px}.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12,.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12,.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12,.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{position:relative;min-height:1px;padding-left:10px;padding-right:10px}.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{float:left}.col-xs-12{width:100%}.col-xs-11{width:91.66666667%}.col-xs-10{width:83.33333333%}.col-xs-9{width:75%}.col-xs-8{width:66.66666667%}.col-xs-7{width:58.33333333%}.col-xs-6{width:50%}.col-xs-5{width:41.66666667%}.col-xs-4{width:33.33333333%}.col-xs-3{width:25%}.col-xs-2{width:16.66666667%}.col-xs-1{width:8.33333333%}.col-xs-pull-12{right:100%}.col-xs-pull-11{right:91.66666667%}.col-xs-pull-10{right:83.33333333%}.col-xs-pull-9{right:75%}.col-xs-pull-8{right:66.66666667%}.col-xs-pull-7{right:58.33333333%}.col-xs-pull-6{right:50%}.col-xs-pull-5{right:41.66666667%}.col-xs-pull-4{right:33.33333333%}.col-xs-pull-3{right:25%}.col-xs-pull-2{right:16.66666667%}.col-xs-pull-1{right:8.33333333%}.col-xs-pull-0{right:auto}.col-xs-push-12{left:100%}.col-xs-push-11{left:91.66666667%}.col-xs-push-10{left:83.33333333%}.col-xs-push-9{left:75%}.col-xs-push-8{left:66.66666667%}.col-xs-push-7{left:58.33333333%}.col-xs-push-6{left:50%}.col-xs-push-5{left:41.66666667%}.col-xs-push-4{left:33.33333333%}.col-xs-push-3{left:25%}.col-xs-push-2{left:16.66666667%}.col-xs-push-1{left:8.33333333%}.col-xs-push-0{left:auto}.col-xs-offset-12{margin-left:100%}.col-xs-offset-11{margin-left:91.66666667%}.col-xs-offset-10{margin-left:83.33333333%}.col-xs-offset-9{margin-left:75%}.col-xs-offset-8{margin-left:66.66666667%}.col-xs-offset-7{margin-left:58.33333333%}.col-xs-offset-6{margin-left:50%}.col-xs-offset-5{margin-left:41.66666667%}.col-xs-offset-4{margin-left:33.33333333%}.col-xs-offset-3{margin-left:25%}.col-xs-offset-2{margin-left:16.66666667%}.col-xs-offset-1{margin-left:8.33333333%}.col-xs-offset-0{margin-left:0}.hidden-xs{display:none}@media (min-width:640px){.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{float:left}.hidden-xs{display:block}.hidden-sm{display:none}.col-sm-12{width:100%}.col-sm-11{width:91.66666667%}.col-sm-10{width:83.33333333%}.col-sm-9{width:75%}.col-sm-8{width:66.66666667%}.col-sm-7{width:58.33333333%}.col-sm-6{width:50%}.col-sm-5{width:41.66666667%}.col-sm-4{width:33.33333333%}.col-sm-3{width:25%}.col-sm-2{width:16.66666667%}.col-sm-1{width:8.33333333%}.col-sm-pull-12{right:100%}.col-sm-pull-11{right:91.66666667%}.col-sm-pull-10{right:83.33333333%}.col-sm-pull-9{right:75%}.col-sm-pull-8{right:66.66666667%}.col-sm-pull-7{right:58.33333333%}.col-sm-pull-6{right:50%}.col-sm-pull-5{right:41.66666667%}.col-sm-pull-4{right:33.33333333%}.col-sm-pull-3{right:25%}.col-sm-pull-2{right:16.66666667%}.col-sm-pull-1{right:8.33333333%}.col-sm-pull-0{right:auto}.col-sm-push-12{left:100%}.col-sm-push-11{left:91.66666667%}.col-sm-push-10{left:83.33333333%}.col-sm-push-9{left:75%}.col-sm-push-8{left:66.66666667%}.col-sm-push-7{left:58.33333333%}.col-sm-push-6{left:50%}.col-sm-push-5{left:41.66666667%}.col-sm-push-4{left:33.33333333%}.col-sm-push-3{left:25%}.col-sm-push-2{left:16.66666667%}.col-sm-push-1{left:8.33333333%}.col-sm-push-0{left:auto}.col-sm-offset-12{margin-left:100%}.col-sm-offset-11{margin-left:91.66666667%}.col-sm-offset-10{margin-left:83.33333333%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-8{margin-left:66.66666667%}.col-sm-offset-7{margin-left:58.33333333%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-5{margin-left:41.66666667%}.col-sm-offset-4{margin-left:33.33333333%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-2{margin-left:16.66666667%}.col-sm-offset-1{margin-left:8.33333333%}.col-sm-offset-0{margin-left:0}}@media (min-width:1000px){.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{float:left}.hidden-sm{display:block}.hidden-md{display:none}.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-10{width:83.33333333%}.col-md-9{width:75%}.col-md-8{width:66.66666667%}.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}.col-md-4{width:33.33333333%}.col-md-3{width:25%}.col-md-2{width:16.66666667%}.col-md-1{width:8.33333333%}.col-md-pull-12{right:100%}.col-md-pull-11{right:91.66666667%}.col-md-pull-10{right:83.33333333%}.col-md-pull-9{right:75%}.col-md-pull-8{right:66.66666667%}.col-md-pull-7{right:58.33333333%}.col-md-pull-6{right:50%}.col-md-pull-5{right:41.66666667%}.col-md-pull-4{right:33.33333333%}.col-md-pull-3{right:25%}.col-md-pull-2{right:16.66666667%}.col-md-pull-1{right:8.33333333%}.col-md-pull-0{right:auto}.col-md-push-12{left:100%}.col-md-push-11{left:91.66666667%}.col-md-push-10{left:83.33333333%}.col-md-push-9{left:75%}.col-md-push-8{left:66.66666667%}.col-md-push-7{left:58.33333333%}.col-md-push-6{left:50%}.col-md-push-5{left:41.66666667%}.col-md-push-4{left:33.33333333%}.col-md-push-3{left:25%}.col-md-push-2{left:16.66666667%}.col-md-push-1{left:8.33333333%}.col-md-push-0{left:auto}.col-md-offset-12{margin-left:100%}.col-md-offset-11{margin-left:91.66666667%}.col-md-offset-10{margin-left:83.33333333%}.col-md-offset-9{margin-left:75%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-7{margin-left:58.33333333%}.col-md-offset-6{margin-left:50%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-4{margin-left:33.33333333%}.col-md-offset-3{margin-left:25%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-1{margin-left:8.33333333%}.col-md-offset-0{margin-left:0}}.clearfix:after,.clearfix:before,.container-fluid:after,.container-fluid:before,.container:after,.container:before,.row:after,.row:before{content:" ";display:table}.clearfix:after,.container-fluid:after,.container:after,.row:after{clear:both}.center-block{display:block;margin-left:auto;margin-right:auto}body,html{background:#fff;color:#000000;font-size:14px;font-weight:400;line-height:24px;font-family:"Open Sans", sans-serif}body.noscroll{overflow:hidden}*{margin:0px;padding:0px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.clear{clear:both}a{text-decoration:none;color:#000000}a:hover{text-decoration:underline}b,strong{font-weight:700}#wrapper{width:100%;position:relative}.ellipsis{-o-text-overflow:ellipsis;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}h1,h2,h3,h4,h5,h6{font-family:"Open Sans", sans-serif;font-size:38px;font-weight:400;line-height:60px;margin-bottom:15px}h1{font-family:"Satisfy", cursive}h2{font-family:"Satisfy", cursive;font-size:30px}@media (min-width:640px){h2{font-size:35px}}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}h1,h2,h3,h4,h5,h6{line-height:1.4em}button{outline:none}.marginTop--20{margin-top:20px}.marginTop--30{margin-top:30px}.marginTop--40{margin-top:40px}.marginTop--50{margin-top:50px}.marginTop--60{margin-top:60px}.marginTop--70{margin-top:70px}.marginBottom--20{margin-bottom:20px}.marginBottom--30{margin-bottom:30px}.marginBottom--40{margin-bottom:40px}.marginBottom--50{margin-bottom:50px}.marginBottom--60{margin-bottom:60px}.marginBottom--70{margin-bottom:70px}.header{width:100%;position:fixed;padding:10px 20px;top:0;left:0;z-index:6000;-webkit-transition:-webkit-box-shadow .15s linear;transition:-webkit-box-shadow .15s linear;-o-transition:box-shadow .15s linear;transition:box-shadow .15s linear;transition:box-shadow .15s linear, -webkit-box-shadow .15s linear;-webkit-transition-delay:0s;-o-transition-delay:0s;transition-delay:0s}@media (min-width:1000px){.header{padding:20px}}.header:before{content:"";width:100%;height:100%;position:absolute;left:0;top:0;background:#fff;opacity:0;-webkit-transition:opacity .15s linear;-o-transition:opacity .15s linear;transition:opacity .15s linear;-webkit-transition-delay:.15s;-o-transition-delay:.15s;transition-delay:.15s;z-index:1}.header:after{content:"";width:100%;height:20px;position:absolute;bottom:-20px;left:0;z-index:1;background-image:url(../images/riss-unten.png);background-position:-20px 0;background-size:auto 20px;background-repeat:repeat-x;opacity:0;-webkit-transition:all .15s linear;-o-transition:all .15s linear;transition:all .15s linear;-webkit-transition-delay:.15s;-o-transition-delay:.15s;transition-delay:.15s}.header.isScrolling{-webkit-box-shadow:0px 0px 20px rgba(0, 0, 0, 0.7);box-shadow:0px 0px 20px rgba(0, 0, 0, 0.7);-webkit-transition-delay:.15s;-o-transition-delay:.15s;transition-delay:.15s}.header.isScrolling:after,.header.isScrolling:before{opacity:1;-webkit-transition-delay:0s;-o-transition-delay:0s;transition-delay:0s}.header__inner{width:100%;height:80px;max-width:1260px;margin:0 auto;overflow:hidden}.header__logo{width:auto;display:inline-block;position:relative;z-index:11}@media (min-width:1000px){.header__logo{float:left}}.header__logo a{display:block;height:80px}.header__logo img{width:auto;max-height:100%;position:absolute;left:0;top:0}.header__logoblack{opacity:0;-webkit-transition:all .15s linear;-o-transition:all .15s linear;transition:all .15s linear}.header__logoblack{-webkit-transition:all .15s linear;-o-transition:all .15s linear;transition:all .15s linear}.header.isScrolling .header__logoblack{opacity:1}.header.isScrolling .header__logowhite{opacity:0}.header__burger{width:50px;height:50px;background:#fff;border:1px solid #000000;border-radius:5px;position:absolute;right:20px;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);cursor:pointer;z-index:6120}@media (min-width:1000px){.header__burger{display:none}}.header__burger span{width:32px;height:2px;position:absolute;left:50%;top:50%;margin-top:-1px;-webkit-transform:translate(-50%, 50%);-ms-transform:translate(-50%, 50%);transform:translate(-50%, 50%);display:block;background:#000000;-webkit-transition:all .15s linear;-o-transition:all .15s linear;transition:all .15s linear}.header__burger span:after,.header__burger span:before{content:"";width:32px;height:2px;position:absolute;left:50%;top:10px;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);display:block;background:#000000;-webkit-transition:all .15s linear;-o-transition:all .15s linear;transition:all .15s linear}.header__burger span:after{top:-10px}.header__burger.isOpen span{background:transparent}.header__burger.isOpen span:before{top:0;-webkit-transform:translateX(-50%) rotate(-45deg);-ms-transform:translateX(-50%) rotate(-45deg);transform:translateX(-50%) rotate(-45deg)}.header__burger.isOpen span:after{top:0;-webkit-transform:translateX(-50%) rotate(45deg);-ms-transform:translateX(-50%) rotate(45deg);transform:translateX(-50%) rotate(45deg)}.header__navi{width:100%;height:100%;position:fixed;top:0;left:0;-webkit-transform:translateX(100%);-ms-transform:translateX(100%);transform:translateX(100%);-webkit-transition:all .35s ease-in-out;-o-transition:all .35s ease-in-out;transition:all .35s ease-in-out;z-index:6100}@media (min-width:1000px){.header__navi{width:auto;height:auto;-webkit-transform:translate(0);-ms-transform:translate(0);transform:translate(0);position:relative;top:auto;left:auto;float:right}}.header__navi.isOpen{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}.header__navi ul{width:100%;height:100%;display:block;list-style:none;position:relative;z-index:6150}@media (min-width:1000px){.header__navi ul{width:auto;height:auto;margin-top:40px}}.header__navi ul li{width:100%;height:20%;display:block;position:relative;overflow:hidden}@media (min-width:1000px){.header__navi ul li{width:auto;height:auto;display:inline-block}}.header__navi ul li:before{content:"";width:100%;height:100%;position:absolute;top:0;left:0;background:rgba(0, 0, 0, 0.55);z-index:11}@media (min-width:1000px){.header__navi ul li:before{display:none}}.header__navi ul li img{width:100%;height:100%;z-index:1;-o-object-fit:cover;object-fit:cover}@media (min-width:1000px){.header__navi ul li img{display:none}}.header__navi ul li a{width:100%;height:100%;position:absolute;z-index:21}.header__navi ul li a:hover{text-decoration:none}@media (min-width:1000px){.header__navi ul li a{width:auto;height:auto;display:block;position:relative;padding:10px 15px}}.header__navi ul li span{position:absolute;top:50%;left:40px;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);font-size:26px;color:#ffffff;font-weight:700;z-index:31;-webkit-transition:color .15s linear;-o-transition:color .15s linear;transition:color .15s linear;text-shadow:1px 2px 15px #000}@media (min-width:1000px){.header__navi ul li span{width:auto;height:auto;font-size:16px;color:#ffffff;position:relative;top:auto;left:auto;text-shadow:none}.isScrolling .header__navi ul li span{color:#000000}}.header__navi ul li:hover span{color:#CE8A30}.hero{width:100%;height:100vh;min-height:500px;position:relative;z-index:1}.hero:before{content:"";width:100%;height:100%;position:absolute;top:0;left:0;background:rgba(0, 0, 0, 0.55);z-index:21}.hero__image{width:100%;height:100%;position:absolute;overflow:hidden;z-index:11}.hero__image img{width:100%;height:auto;position:absolute;-webkit-transform:scale(1.6);-ms-transform:scale(1.6);transform:scale(1.6)}@media (min-width:1000px){.hero__image img{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}.hero__welcome{min-width:100%;position:absolute;padding:0 20px;color:#ffffff;text-align:center;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);transform:translate(-50%, -50%);z-index:31;margin-top:50px}.hero__welcome h1{font-size:40px;margin-top:-10px}.hero__welcome h3{font-size:22px;line-height:1.6em}@media (min-width:1000px){.hero__welcome{margin-top:60px}.hero__welcome h1{font-size:75px;line-height:1.6em}.hero__welcome h3{font-size:34px;line-height:1.6em}}.section{position:relative;padding:50px 20px;z-index:11}@media (min-width:1000px){.section{padding:80px 20px}}.section--nopadding{padding:0}@media (min-width:1000px){.section--nopadding{padding:0}}.section--notoppadding{padding-top:0}.section__inner{max-width:1260px;margin:0 auto;position:relative;z-index:3}.section__head{color:#CE8A30}.section__head--color-3{color:#ffffff}.section__head--invert{color:#000000}@media (min-width:640px){.section__head--invert{color:#ffffff}}.section__head--center{text-align:center}.section__content{margin-bottom:20px}.section__overlay{width:100%;height:100%;max-width:1260px;top:0;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);background:rgba(0, 0, 0, 0.55);position:absolute;z-index:1}.section--overlay .section__inner{z-index:41}@media (min-width:1000px){.section--overlay .section__inner{padding:0 30px}}.section--hidden{overflow:hidden}.section--upper{z-index:21}.section--lower{z-index:11}.section--border-bottom:after,.section--border-top:before{content:"";width:100%;height:20px;position:absolute;top:-15px;left:0;z-index:51;background-image:url(../images/riss-oben.png);background-position:-20px 0;background-size:auto 20px;background-repeat:repeat-x}.section--border-bottom:after{top:auto;bottom:-15px;background-image:url(../images/riss-unten.png)}.section--events{background:url(../images/section_bg.jpg) no-repeat center center;background-size:cover}.section--events:before{content:"";width:100%;height:100%;position:absolute;top:0;left:0;background:rgba(241, 237, 228, 0.55);z-index:2}.section--formular1{background:url(../images/formular1.jpg) no-repeat center center;background-size:cover}.section--formular2{background:url(../images/formular2.jpg) no-repeat center center;background-size:cover}.section--contact{background-color:#F1EDE4}.contactForm__overlay{margin-top:60px;padding-top:40px}@media (min-width:640px){.contactForm__overlay{margin-top:-12px;padding-top:0}}.contactForm__overlay:before{content:"";background:#F1EDE4;position:absolute;top:0;left:-20px;right:-20px;bottom:-50px;z-index:-1}@media (min-width:640px){.contactForm__overlay:before{display:none}}.contactForm__group{color:#fff;margin-bottom:15px}.contactForm__group--invert{color:#000000}@media (min-width:640px){.contactForm__group--invert{color:#ffffff}}.contactForm__label{margin-bottom:5px}.contactForm__label p{display:none}.contactForm__label span{text-transform:capitalize}@media (min-width:1000px){.contactForm__label p{display:inline-block}.contactForm__label span{text-transform:lowercase}}.contactForm__input input{width:100%;height:40px;background:#fff;border:1px solid #ccc;padding:5px 15px;border-radius:5px;font-family:"Open Sans", sans-serif;font-size:14px}.contactForm__radio input{display:none}.contactForm__radio input:checked+label:after{opacity:1}.contactForm__radio label{display:block;padding-left:40px;position:relative;cursor:pointer}.contactForm__radio label:before{content:"";width:24px;height:24px;background:#fff;border:1px solid #ccc;border-radius:50%;position:absolute;left:0;top:0}.contactForm__radio label:after{content:"";width:14px;height:14px;background:#CE8A30;border-radius:50%;position:absolute;left:5px;top:5px;-webkit-transition:all .15s linear;-o-transition:all .15s linear;transition:all .15s linear;opacity:0}.contactForm__checkbox input{display:none}.contactForm__checkbox input:checked+label:after{opacity:1}.contactForm__checkbox label{display:block;padding-left:40px;position:relative;cursor:pointer}.contactForm__checkbox label:before{content:"";width:24px;height:24px;background:#fff;border:1px solid #ccc;border-radius:3px;position:absolute;left:0;top:5px}.contactForm__checkbox label:after{content:"";font-family:"icomoon";width:24px;height:24px;line-height:24px;position:absolute;left:0;top:5px;color:#000000;opacity:0;text-align:center;font-size:12px}.contactForm__reset{width:100%;height:46px;line-height:46px;background:#ccc;color:#000000;cursor:pointer;border:none;text-align:center;border-radius:5px;border:1px solid #fff}.contactForm__content{display:none}.contactForm__content.isOpen{display:block}@media (min-width:640px){.contactForm__content{display:block}}.contactForm__button{width:100%;height:46px;line-height:46px;background:#000000;color:#ffffff;font-family:"Open Sans", sans-serif;font-size:14px;-webkit-transition:all .15s linear;-o-transition:all .15s linear;transition:all .15s linear;border-radius:5px;border:1px solid #fff;margin-bottom:20px;cursor:pointer}.contactForm__button:hover{background:#CE8A30}.contactForm__button--dropdown{background-color:#CE8A30;position:relative}.contactForm__button--dropdown.isOpen:before{content:"";font-size:2px}.contactForm__button--dropdown:before{font-family:"icomoon";content:"";font-size:20px;position:absolute;right:20px}@media (min-width:640px){.contactForm__button--dropdown:before{display:none}}.contactForm__button--dropdown h5{text-align:left;margin-left:20px;line-height:1.2em;line-height:46px}.contactForm__button--dropdown:hover{background:#a56e26;cursor:pointer}@media (min-width:640px){.contactForm__button--dropdown:hover{background:#CE8A30;cursor:auto}}.teaser{position:relative;overflow:hidden;color:#fff;border-radius:5px;-webkit-box-shadow:2px 5px 10px 1px #cccccc;box-shadow:2px 5px 10px 1px #cccccc;padding-bottom:10px;margin-bottom:25px}.teaser__image{position:relative;width:100%;height:0;padding-bottom:84%;background:blue}.teaser__image img{position:absolute;left:0;top:0;width:100%;height:100%;-o-object-fit:cover;object-fit:cover}.teaser__title{text-align:center;margin:5px 10px}.teaser__title h3{color:#000000;font-size:16px;font-weight:700;line-height:1.2em;-webkit-transform:translate(0%, -30%);-ms-transform:translate(0%, -30%);transform:translate(0%, -30%)}@media (min-width:640px){.teaser__title h3{font-size:18px}}.teaser__button{width:70%;height:46px;line-height:46px;background:#000000;-webkit-transform:translate(20%, -50%);-ms-transform:translate(20%, -50%);transform:translate(20%, -50%);-webkit-transition:all .15s linear;-o-transition:all .15s linear;transition:all .15s linear;border-radius:5px;border:1px solid #fff;position:relative;z-index:41;cursor:pointer}.teaser__button:hover{background:#CE8A30}.teaser__button span{color:#ffffff;font-size:14px;text-decoration:none;display:block}.teaser__button b{color:#ffffff;font-size:14px;text-decoration:none;display:none;font-weight:400}.teaser.isOpen .teaser__button span{display:none}.teaser.isOpen .teaser__button b{display:block}.teaser__ingredients{width:100%;height:100%;position:absolute;top:0;left:0;z-index:11;background:rgba(0, 0, 0, 0.55);padding:15px;color:#ffffff;opacity:0;-webkit-transition:all .15s linear;-o-transition:all .15s linear;transition:all .15s linear}.teaser__ingredients ul{list-style:none}.teaser.isOpen .teaser__ingredients{opacity:1}.teaser__recipe{padding:15px;color:#000000;display:none}.teaser__recipe h3{font-size:20px;font-weight:600;margin-bottom:10px;line-height:1.4em}.teaser.isOpen .teaser__button{background:#CE8A30}.teaser.isOpen .teaser__recipe{display:block}.banner{border-radius:5px;border:solid 1px #000000;padding:15px;min-height:145px;position:relative;margin:20px auto 20px}.banner--contact{margin-top:100px}.banner__content{text-align:center}.banner__icon{font-size:38px;margin:10px 10px 15px 10px}.banner__icon--icon1:before{font-family:"icomoon";content:""}.banner__icon--icon2:before{font-family:"icomoon";content:""}.banner__icon--icon3:before{font-family:"icomoon";content:""}.banner__head{text-align:center;margin:0px;margin-top:40px;line-height:1.2em;font-weight:600;margin-bottom:15px}.banner--contact{max-width:700px}.banner__image{position:absolute;border-radius:50%;height:100px;width:100px;overflow:hidden;top:0;left:50%;-webkit-transform:translate(-50%, -65%);-ms-transform:translate(-50%, -65%);transform:translate(-50%, -65%)}.banner__image img{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}.footer{background-color:#000000;padding:10px 20px;position:relative}.footer__iconbox{position:absolute;top:50%;right:20px;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}.footer__icon{float:right;font-size:25px;padding:8px;margin-right:15px;border:1px solid #cccccc;background-color:white;border-radius:5px;-webkit-transition:all .15s linear;-o-transition:all .15s linear;transition:all .15s linear}.footer__icon:hover{text-decoration:none;background:#000;color:#fff;border:1px solid #fff}.footer__icon--icon1:before{font-family:"icomoon";content:""}.footer__icon--icon2:before{font-family:"icomoon";content:""}.footer__icon--icon3:before{font-family:"icomoon";content:""}.footer__navi{padding-right:170px}.footer__navi ul{display:block;list-style:none;width:auto;height:auto;margin-top:10px}.footer__navi ul li{width:auto;height:auto;display:inline-block;position:relative;overflow:hidden;color:#ffffff;padding:5px 10px;cursor:pointer}.footer__navi ul li:hover{text-decoration:underline}.footerContent{width:100%;border-bottom:0;overflow:hidden;position:relative;display:none}.footerContent__close{width:30px;height:30px;position:absolute;top:55px;right:20px;cursor:pointer;border:1px solid #000000;border-radius:3px;-webkit-transition:all .15s linear;-o-transition:all .15s linear;transition:all .15s linear}.footerContent__close:after,.footerContent__close:before{content:"";width:16px;height:1px;background:#000000;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, 50%) rotate(45deg);-ms-transform:translate(-50%, 50%) rotate(45deg);transform:translate(-50%, 50%) rotate(45deg);-webkit-transition:all .15s linear;-o-transition:all .15s linear;transition:all .15s linear}.footerContent__close:after{-webkit-transform:translate(-50%, 50%) rotate(-45deg);-ms-transform:translate(-50%, 50%) rotate(-45deg);transform:translate(-50%, 50%) rotate(-45deg)}.footerContent__close:hover{background:#000000}.footerContent__close:hover:after,.footerContent__close:hover:before{background:#fff}.footerContent__inner{width:100%;padding:55px 25px 40px 25px;position:relative;max-width:1200px;margin:0 auto;display:none;position:relative}.slick-slider{position:relative;display:block;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;overflow:hidden;display:block;margin:0;padding:0}.slick-list:focus{outline:none}.slick-list.dragging{cursor:pointer}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}.slick-track{position:relative;left:0;top:0;display:block;margin-left:auto;margin-right:auto}.slick-track:after,.slick-track:before{content:"";display:table}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{float:left;height:100%;min-height:1px;display:none}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}.galerySlider{width:auto;height:auto;position:relative;overflow:hidden;margin:0 -5px;padding-bottom:60px}@media (min-width:1000px){.galerySlider{margin:0 -10px}}.galerySlider__item{width:100%;padding:5px}@media (min-width:1000px){.galerySlider__item{padding:10px}}.galerySlider__item>img{width:100%;height:auto}.galerySlider--footer{margin:0;padding-bottom:0}.galerySlider--footer .galerySlider__item{height:160px;padding:0}@media (min-width:640px){.galerySlider--footer .galerySlider__item{height:210px}}@media (min-width:1000px){.galerySlider--footer .galerySlider__item{height:240px}}.galerySlider--footer .galerySlider__item>img{width:100%;height:100%;-o-object-fit:cover;object-fit:cover}.recipeSliderContainer{height:auto;position:relative;overflow:hidden;margin:0 -20px}@media (min-width:640px){.recipeSliderContainer{margin:auto}}.recipeSlider{width:auto;height:auto;position:relative;overflow:hidden;margin:0 -35px;padding-bottom:40px}@media (min-width:640px){.recipeSlider{margin:0 -10px;margin-top:20px}}@media (min-width:1000px){.recipeSlider{margin:0 -10px;margin-top:40px}}.recipeSlider__item{width:100%;padding:5px;position:relative}@media (min-width:640px){.recipeSlider__item{padding:10px}}.recipeSlider__item>img{width:100%;height:auto}.slick-loading .slick-list{background:#fff url("./ajax-loader.gif") center center no-repeat}@font-face{font-family:"slick";src:url("./fonts/slick.eot");src:url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");font-weight:normal;font-style:normal}.slick-next,.slick-prev{position:absolute;display:block;height:40px;width:40px;cursor:pointer;bottom:0;left:50%;-webkit-transition:translateX(-50%);-o-transition:translateX(-50%);transition:translateX(-50%);background:transparent;border:1px solid #000;border-radius:50%;text-indent:-5000px;overflow:hidden}.slick-next:after,.slick-next:before,.slick-prev:after,.slick-prev:before{content:"";width:14px;height:1px;background:#000;position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%, -50%) rotate(-45deg);-ms-transform:translate(-50%, -50%) rotate(-45deg);transform:translate(-50%, -50%) rotate(-45deg);margin-top:-5px;margin-left:-1px}.slick-next:after,.slick-prev:after{-webkit-transform:translate(-50%, -50%) rotate(45deg);-ms-transform:translate(-50%, -50%) rotate(45deg);transform:translate(-50%, -50%) rotate(45deg);margin-top:5px}.slick-prev{margin-left:-50px}.slick-next{margin-left:10px}.slick-next:after,.slick-next:before{-webkit-transform:translate(-50%, -50%) rotate(45deg);-ms-transform:translate(-50%, -50%) rotate(45deg);transform:translate(-50%, -50%) rotate(45deg);margin-left:2px}.slick-next:after{-webkit-transform:translate(-50%, -50%) rotate(-45deg);-ms-transform:translate(-50%, -50%) rotate(-45deg);transform:translate(-50%, -50%) rotate(-45deg)}.slick-dotted.slick-slider{margin-bottom:30px}.slick-dots{position:absolute;bottom:-25px;list-style:none;display:block;text-align:center;padding:0;margin:0;width:100%}.slick-dots li{position:relative;display:inline-block;height:20px;width:20px;margin:0 5px;padding:0;cursor:pointer}.slick-dots li button{border:0;background:transparent;display:block;height:20px;width:20px;outline:none;line-height:0px;font-size:0px;color:transparent;padding:5px;cursor:pointer}.slick-dots li button:focus,.slick-dots li button:hover{outline:none}.slick-dots li button:focus:before,.slick-dots li button:hover:before{opacity:1}.slick-dots li button:before{position:absolute;top:0;left:0;content:"•";width:20px;height:20px;font-family:"slick";font-size:6px;line-height:20px;text-align:center;color:black;opacity:0.25;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.slick-dots li.slick-active button:before{color:black;opacity:0.75}