// Respond-To Mixin
//
// $media - name of the breakpoint
//
// Compatibility untested.
@mixin respond-to($media) {

    // desktop version
    @if $media == sm {
        @media (min-width: $screen-sm) { @content; }
    }

    // desktop version
    @if $media == md {
        @media (min-width: $screen-md) { @content; }
    }

}
