html, body {
	background: 	$body-background;
	color: 				$color-text-1;
	font-size: 		$font-size--base;
	font-weight: 	$font-weight--normal;
	line-height: 	$line-height--base;
	font-family: 	$font-family--base;
}

body.noscroll {
	overflow: hidden;
}

* {
	margin: 0px;
	padding: 0px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.clear {
	clear: both;
}

a {
	text-decoration: none;
	color: $color-text-1;

	&:hover{
		text-decoration: underline;
	}
}

b, strong {
	font-weight: $font-weight--xbold;
}

#wrapper {
	width: 100%;
	position: relative;
}

.ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family--base;
	font-size: $font-size--highlight;
	font-weight: $font-weight--normal;
	line-height: $line-height--large;
	margin-bottom: 15px;
}
h1{
	font-family: $font-family--highlight;
}
h2 {
	font-family: $font-family--highlight;
	font-size: $font-size--xxlarge;

	@include respond-to(sm) {
		font-size: $font-size--xxxlarge;
	}
}
h3 {
	;
}
h4 {
	font-size: $font-size--xlarge;
}
h5 {
	font-size: $font-size--large;
}
h6 {
	font-size: $font-size--medium;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.4em;
}
button {
	outline: none;
}
.marginTop--20 {margin-top: 20px;}
.marginTop--30 {margin-top: 30px;}
.marginTop--40 {margin-top: 40px;}
.marginTop--50 {margin-top: 50px;}
.marginTop--60 {margin-top: 60px;}
.marginTop--70 {margin-top: 70px;}
.marginBottom--20 {margin-bottom: 20px;}
.marginBottom--30 {margin-bottom: 30px;}
.marginBottom--40 {margin-bottom: 40px;}
.marginBottom--50 {margin-bottom: 50px;}
.marginBottom--60 {margin-bottom: 60px;}
.marginBottom--70 {margin-bottom: 70px;}
