
@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?7ulpqm');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?7ulpqm#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff2?7ulpqm') format('woff2'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?7ulpqm') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?7ulpqm') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?7ulpqm##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info {
  &:before {
    content: $icon-info;
  }
}
.icon-border {
  &:before {
    content: $icon-border;
  }
}
.icon-haus {
  &:before {
    content: $icon-haus;
  }
}
.icon-time {
  &:before {
    content: $icon-time;
  }
}
.icon-check {
  &:before {
    content: $icon-check;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;
  }
}
.icon-arrow_left {
  &:before {
    content: $icon-arrow_left;
  }
}
.icon-arrow_right {
  &:before {
    content: $icon-arrow_right;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}
.icon-pinterest {
  &:before {
    content: $icon-pinterest;
  }
}
.icon-snapchat {
  &:before {
    content: $icon-snapchat;
  }
}
.icon-snapchat2 {
  &:before {
    content: $icon-snapchat2;
  }
}
.icon-minus {
  &:before {
    content: $icon-minus;
  }
}
.icon-scroll {
  &:before {
    content: $icon-scroll;
  }
}
