// Body Preferences
$body-background:				     #fff !default;

// FONTS - TEXT
$font-family--base:				  'Open Sans', sans-serif !default;
$font-family--highlight:		'Satisfy', cursive !default;

// FONT - WEIGHT
$font-weight--light:  			300 !default;
$font-weight--normal: 			400 !default;
$font-weight--bold:   			600 !default;
$font-weight--xbold:   			700 !default;

// FONT - SIZE
$font-size--highlight:      38px !default;
$font-size--xxxlarge: 			35px !default;
$font-size--xxlarge: 			  30px !default;
$font-size--xlarge: 			  20px !default;
$font-size--large: 				  18px !default;
$font-size--medium: 			  16px !default;
$font-size--base: 				  14px !default;


// LINEHEIGHT
$line-height--base:				  24px;
$line-height--medium:			  1.2em;
$line-height--large:			  60px;

// BRAND - COLORS
$color-brand-1:			        #CE8A30  !default;
$color-brand-2:			        #A65132  !default;

// BG - COLORS
$color-bg-1:				        #F1EDE4 !default;
$color-bg-2:			          #000000 !default;
$color-bg-3:				        #fff !default;

// TEXT - COLORS
$color-text-1:			       #000000 !default;
$color-text-2:			       #555555 !default;
$color-text-3:			       #ffffff !default;

// BREAKPOINTS
$screen-xs: 					     0 !default;
$screen-sm: 					     640px !default;
$screen-md: 					     1000px !default;

// BREAKPOINTS - Wrapper
$screen-wrapper--lg: 			  1260px !default;


// Z-INDEX
$z-index--base:         		1;
$z-index--header:       		6000;

// BOX-SHADOW
$box-shadow--header:			  0px 0px 20px rgba(0,0,0,.7) !default;




$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-info: "\e900";
$icon-border: "\e901";
$icon-haus: "\e902";
$icon-time: "\e903";
$icon-check: "\e904";
$icon-plus: "\e905";
$icon-arrow_left: "\e906";
$icon-arrow_right: "\e907";
$icon-instagram: "\e908";
$icon-pinterest: "\e909";
$icon-snapchat: "\e90a";
$icon-snapchat2: "\e90b";
$icon-minus: "\e90c";
$icon-scroll: "\e90d";
