// banner
//
.banner{
	border-radius: 5px;
	border: solid 1px $color-bg-2;
	padding: 15px;
	min-height: 145px;
	position: relative;
	margin: 20px auto 20px;

	&--contact {
		margin-top: 100px;
	}

	&__content{
		text-align: center;
	}

	&__icon{
		font-size: 38px;
		margin: 10px 10px 15px 10px;

		&--icon1{
			&:before {
				font-family: $icomoon-font-family;
				content: $icon-time;
			}
		}

		&--icon2{
			&:before {
				font-family: $icomoon-font-family;
				content: $icon-haus;
			}
		}

		&--icon3{
			&:before {
				font-family: $icomoon-font-family;
				content: $icon-info;
			}
		}

	}

	&__head{
		text-align: center;
		margin: 0px;
		margin-top: 40px;
		line-height: 1.2em;
		font-weight: $font-weight--bold;
		margin-bottom: 15px;
	}

	&--contact{
		max-width: 700px;

	}

	&__image{
		position: absolute;
		border-radius: 50%;
		height: 100px;
		width: 100px;
		overflow: hidden;
		top:0;
		left: 50%;
		transform: translate(-50%, -65%);

		img {
			transform: scale(1.1);
		}
	}

}
