// contactForm
//
.contactForm {

  &__overlay {
    margin-top: 60px;
    padding-top: 40px;

    @include respond-to(sm) {
      margin-top: -12px;
      padding-top: 0;
    }

    &:before {
      content: "";
      background: $color-bg-1;
      position: absolute;
      top: 0;
      left: -20px;
      right: -20px;
      bottom: -50px;
      z-index: -1;

      @include respond-to(sm) {
        display: none;
      }
    }
  }

  &__group {
    color: $color-bg-3;
    margin-bottom: 15px;

    &--invert {
      color: $color-text-1;

      @include respond-to(sm) {
        color: $color-text-3;
      }
    }
  }

  &__label {
    margin-bottom: 5px;

    p {
      display: none;
    }

    span {
      text-transform: capitalize;
    }

    @include respond-to(md) {
      p {
        display: inline-block;
      }
      span {
        text-transform: lowercase;
      }
    }
  }

  &__input {

    input {
      width: 100%;
      height: 40px;
      background: $color-bg-3;
      border: 1px solid #ccc;
      padding: 5px 15px;
      border-radius: 5px;

      font-family: $font-family--base;
      font-size: $font-size--base;
    }
  }

  &__radio {

    input {
      display: none;

      &:checked + label {
        &:after {
          opacity: 1;
        }
      }
    }

    label {
      display: block;
      padding-left: 40px;
      position: relative;
      cursor: pointer;

      &:before {
        content: "";
        width: 24px;
        height: 24px;
        background: $color-bg-3;
        border: 1px solid #ccc;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 0;
      }
      &:after {
        content: "";
        width: 14px;
        height: 14px;
        background: $color-brand-1;
        border-radius: 50%;
        position: absolute;
        left: 5px;
        top: 5px;
        transition: all .15s linear;
        opacity: 0;
      }
    }
  }

  &__checkbox {

    input {
      display: none;

      &:checked + label {
        &:after {
          opacity: 1;
        }
      }
    }

    label {
      display: block;
      padding-left: 40px;
      position: relative;
      cursor: pointer;

      &:before {
        content: "";
        width: 24px;
        height: 24px;
        background: $color-bg-3;
        border: 1px solid #ccc;
        border-radius: 3px;
        position: absolute;
        left: 0;
        top: 5px;
      }
      &:after {
        content: $icon-check;
        font-family: $icomoon-font-family;
        width: 24px;
        height: 24px;
        line-height: 24px;
        position: absolute;
        left: 0;
        top: 5px;
        color: $color-text-1;
        opacity: 0;
        text-align: center;
        font-size: 12px;
      }
    }
  }


  &__reset {
    width: 100%;
    height: 46px;
    line-height: 46px;
    background: #ccc;
    color: $color-text-1;
    cursor: pointer;
    border: none;
    text-align: center;
    border-radius: 5px;
    border: 1px solid $color-bg-3;
  }

  &__content {
    display: none;

    &.isOpen {
      display: block;
    }

    @include respond-to(sm) {
      display: block;
    }


  }

  &__button {
    width: 100%;
    height: 46px;
    line-height: 46px;
    background: $color-bg-2;
    color: $color-text-3;
    font-family: $font-family--base;
    font-size: $font-size--base;
    transition: all .15s linear;
    border-radius: 5px;
    border: 1px solid $color-bg-3;
    margin-bottom: 20px;
    cursor: pointer;


    &:hover {
      background: $color-brand-1;
    }



    &--dropdown {
      background-color: $color-brand-1;
      position: relative;

      &.isOpen:before {
        content: $icon-minus;
        font-size: 2px;
      }



      &:before{
        font-family: $icomoon-font-family;
        content: $icon-plus;
        font-size: 20px;
        position: absolute;
        right: 20px;

        @include respond-to(sm){
          display: none;
        }
      }

      h5{
        text-align: left;
        margin-left: 20px;
        line-height: $line-height--medium;
        line-height: 46px;
      }

      &:hover {
        background: darken($color-brand-1,10);
        cursor: pointer;

        @include respond-to(sm) {
          background: $color-brand-1;
          cursor: auto;
        }
      }

    }
  }

}
