//footer
//
.footer {
	background-color: $color-bg-2;
	padding: 10px 20px;
	position: relative;

	&__iconbox {
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
	}

	&__icon {
		float: right;
		font-size: 25px;
		padding: 8px;
		margin-right: 15px;
		border: 1px solid #cccccc;
		background-color: white;
		border-radius: 5px;
		transition: all .15s linear;

		&:hover {
			text-decoration: none;
			background: #000;
			color: #fff;
			border: 1px solid #fff;
		}

		&--icon1 {
			&:before {
				font-family: $icomoon-font-family;
				content: $icon-pinterest;
			}
		}

		&--icon2 {
			&:before {
				font-family: $icomoon-font-family;
				content: $icon-instagram;
			}
		}

		&--icon3 {
			&:before {
				font-family: $icomoon-font-family;
				content: $icon-snapchat;
			}
		}

	}

	&__navi {
		padding-right: 170px;

		ul {
      display: block;
      list-style: none;
			width: auto;
			height: auto;
			margin-top: 10px;

      li {
				width: auto;
				height: auto;
				display: inline-block;
        position: relative;
        overflow: hidden;
				color: $color-text-3;
				padding: 5px 10px;
				cursor: pointer;

				&:hover {
					text-decoration: underline;
				}
			}
		}


		}
}
.footerContent {
	width: 100%;
	border-bottom: 0;
	overflow: hidden;
	position: relative;
	display: none;

	&__close {
		width: 30px;
		height: 30px;
		position: absolute;
		top: 55px;
		right: 20px;
		cursor: pointer;
		border: 1px solid $color-bg-2;
		border-radius: 3px;
		transition: all .15s linear;

		&:before,
		&:after {
			content: "";
			width: 16px;
			height: 1px;
			background: $color-bg-2;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, 50%) rotate(45deg);
			transition: all .15s linear;
		}
		&:after {
			transform: translate(-50%, 50%) rotate(-45deg);
		}

		&:hover {
			background: $color-bg-2;
		}
		&:hover:before,
		&:hover:after {
			background: $color-bg-3;
		}
	}


	&__inner {
		width: 100%;
		padding: 55px 25px 40px 25px;
		position: relative;
		max-width: 1200px;
		margin: 0 auto;
		display: none;
		position: relative;
	}

}
