// header
//
.header {
  width: 100%;
  position: fixed;
  padding: 10px 20px;
  top: 0;
  left: 0;
  z-index: $z-index--header;
  transition: box-shadow .15s linear;
  transition-delay: 0s;

  @include respond-to(md) {
    padding: 20px;
  }

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    opacity: 0;
    transition: opacity .15s linear;
    transition-delay: .15s;
    z-index: $z-index--base;
  }

  &:after {
		content: "";
		width: 100%;
		height: 20px;
		position: absolute;
		bottom: -20px;
		left: 0;
    z-index: $z-index--base;
		background-image: url(../images/riss-unten.png);
		background-position: -20px 0;
		background-size: auto 20px;
		background-repeat: repeat-x;
    opacity: 0;
    transition: all .15s linear;
    transition-delay: .15s;
	}

  &.isScrolling {
    box-shadow: $box-shadow--header;
    transition-delay: .15s;

    &:before,
    &:after {
      opacity: 1;
      transition-delay: 0s;
    }
  }

  &__inner {
    width: 100%;
    height: 80px;
    max-width: $screen-wrapper--lg;
    margin: 0 auto;
    overflow: hidden;
  }

  &__logo {
    width: auto;
    display: inline-block;
    position: relative;
    z-index: $z-index--base +10;

    @include respond-to(md) {
      float: left;
    }


    a {
      display: block;
      height: 80px;
    }

    img {
      width: auto;
      max-height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__logoblack {
    opacity: 0;
    transition: all .15s linear;
  }
  &__logoblack {
    transition: all .15s linear;
  }

  &.isScrolling &__logoblack {
    opacity: 1;
  }

  &.isScrolling &__logowhite {
    opacity: 0;
  }

  // burger
  &__burger {
    width: 50px;
    height: 50px;
    background: $color-bg-3;
    border: 1px solid $color-bg-2;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index:$z-index--header +120;

    @include respond-to(md) {
      display: none;
    }

    span {
      width: 32px;
      height: 2px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -1px;
      transform: translate(-50%, 50%);
      display: block;
      background: $color-bg-2;
      transition: all .15s linear;

      &:before,
      &:after {
        content: "";
        width: 32px;
        height: 2px;
        position: absolute;
        left: 50%;
        top: 10px;
        transform: translateX(-50%);
        display: block;
        background: $color-bg-2;
        transition: all .15s linear;
      }
      &:after {
        top: -10px;
      }

    }


    &.isOpen span {
      background: transparent;

      &:before {
        top: 0;
        transform: translateX(-50%) rotate(-45deg);
      }
      &:after {
        top: 0;
        transform: translateX(-50%) rotate(45deg);
      }
    }

  }

  &__navi {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(100%);
    transition: all .35s ease-in-out;
    z-index: $z-index--header +100;

    @include respond-to(md) {
      width: auto;
      height: auto;
      transform: translate(0);
      position: relative;
      top: auto;
      left: auto;
      float: right;
    }

    &.isOpen {
      transform: translateX(0);
    }

    ul {
      width: 100%;
      height: 100%;
      display: block;
      list-style: none;
      position: relative;
      z-index: $z-index--header +150;

      @include respond-to(md) {
        width: auto;
        height: auto;
        margin-top: 40px;
      }

      li {
        width: 100%;
        height: 20%;
        display: block;
        position: relative;
        overflow: hidden;


        @include respond-to(md) {
          width: auto;
          height: auto;
          display: inline-block;
        }

        &:before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: rgba(0,0,0,.55);
          z-index: $z-index--base +10;

          @include respond-to(md) {
            display: none;
          }
        }

        img {
          width: 100%;
          height: 100%;
          z-index: $z-index--base;
          object-fit: cover;

          @include respond-to(md) {
            display: none;
          }
        }

        a {
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: $z-index--base +20;

          &:hover {
            text-decoration: none;
          }

          @include respond-to(md) {
            width: auto;
            height: auto;
            display: block;
            position: relative;
            padding: 10px 15px;
          }
        }

        span {
          position: absolute;
          top: 50%;
          left: 40px;
          transform: translateY(-50%);
          font-size: 26px;
          color: $color-text-3;
          font-weight: $font-weight--xbold;
          z-index: $z-index--base +30;
          transition: color .15s linear;
          text-shadow: 1px 2px 15px #000;

          @include respond-to(md) {
            width: auto;
            height: auto;
            font-size: $font-size--medium;
            color: $color-text-3;
            position: relative;
            top: auto;
            left: auto;
            text-shadow: none;

            .isScrolling & {
              color: $color-text-1;
            }
          }
        }
        &:hover span {
          color: $color-brand-1;
        }

      }
    }
  }


}
