// hero
//
.hero{
  width: 100%;
  height: 100vh;
  min-height: 500px;
  position: relative;
  z-index: $z-index--base;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.55);
    z-index: $z-index--base +20;
  }

  &__image {
		width: 100%;
    height: 100%;
		position: absolute;
		overflow: hidden;
    z-index: $z-index--base +10;

    img {
      width: 100%;
      height: auto;
			position: absolute;
			transform: scale(1.6);

      @include respond-to(md) {
        transform: scale(1);
      }
    }
  }

	&__welcome {
		min-width: 100%;
		position: absolute;
		padding: 0 20px;
		color: $color-text-3;
		text-align: center;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
    z-index: $z-index--base +30;
    margin-top: 50px;

    h1 {
      font-size: 40px;
      margin-top: -10px;
    }

    h3 {
      font-size: 22px;
      line-height: 1.6em;
    }

    @include respond-to(md) {
      margin-top: 60px;

      h1 {
        font-size: 75px;
        line-height: 1.6em;
      }

      h3 {
        font-size: 34px;
        line-height: 1.6em;
      }
    }
	}

}
