// section
//
.section {
	position: relative;
	padding: 50px 20px;
	z-index: $z-index--base +10;

	@include respond-to(md) {
		padding: 80px 20px;
	}

	&--nopadding {
		padding: 0;

		@include respond-to(md) {
			padding: 0;
		}
	}

	&--notoppadding {
		padding-top: 0;
	}

	&__inner {
		max-width: $screen-wrapper--lg;
		margin: 0 auto;
		position: relative;
		z-index: $z-index--base +2;
	}

  &__head {
    color: $color-brand-1;

		&--color-3 {
			color: $color-text-3;
		}

		&--invert {
			color: $color-text-1;

			@include respond-to(sm) {
				color: $color-text-3;
			}
		}

		&--center{
			text-align: center;
		}

  }

  &__content {
    margin-bottom: 20px;
  }


	&__overlay {
		width: 100%;
		height: 100%;
		max-width: $screen-wrapper--lg;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		background: rgba(0,0,0,.55);
		position: absolute;
		z-index: $z-index--base;
	}

	&--overlay &__inner {
		z-index: $z-index--base+40;
		@include respond-to(md) {
			padding: 0 30px;
		}
	}

	&--hidden {
		overflow: hidden;
	}
	&--upper {
		z-index: $z-index--base +20;
	}
	&--lower {
		z-index: $z-index--base +10;
	}

	&--border-top:before,
	&--border-bottom:after {
		content: "";
		width: 100%;
		height: 20px;
		position: absolute;
		top: -15px;
		left: 0;
		z-index: $z-index--base +50;
		background-image: url(../images/riss-oben.png);
		background-position: -20px 0;
		background-size: auto 20px;
		background-repeat: repeat-x;
	}
	&--border-bottom:after {
		top: auto;
		bottom: -15px;
		background-image: url(../images/riss-unten.png);
	}


	&--events {
		background: url(../images/section_bg.jpg) no-repeat center center;
		background-size: cover;

		&:before {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: rgba(241,237,228,.55);
			z-index: $z-index--base +1;

		}

	}

	&--formular1 {
		background: url(../images/formular1.jpg) no-repeat center center;
		background-size: cover;
	}

	&--formular2 {
		background: url(../images/formular2.jpg) no-repeat center center;
		background-size: cover;
	}

	&--contact{
		background-color: $color-bg-1;
	}

}
