// teaser
//
.teaser{
	position: relative;
	overflow: hidden;
	color: $color-bg-3;
	border-radius: 5px;
	box-shadow: 2px 5px 10px 1px #cccccc;
	padding-bottom: 10px;
	margin-bottom: 25px;


	&__image{
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 84%;
		background: blue;

		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}


	&__title {
		text-align: center;
		margin: 5px 10px;

		h3{
			color: $color-text-1;
			font-size: $font-size--medium;
			font-weight: $font-weight--xbold;
			line-height: $line-height--medium;
			transform: translate(0%, -30%);

			@include respond-to(sm){
				font-size: $font-size--large;
			}
		}

	}


	&__button {
		width: 70%;
		height: 46px;
		line-height: 46px;
		background: $color-bg-2;
		transform: translate(20%, -50%);
		transition: all .15s linear;
		border-radius: 5px;
		border: 1px solid $color-bg-3;
		position: relative;
		z-index: $z-index--base +40;
		cursor: pointer;

		&:hover {
			background: $color-brand-1;
		}

		span {
			color: $color-text-3;
			font-size: $font-size--base;
			text-decoration: none;
			display: block;
		}
		b {
			color: $color-text-3;
			font-size: $font-size--base;
			text-decoration: none;
			display: none;
			font-weight: $font-weight--normal;
		}
	}
	&.isOpen &__button {
		span {
			display: none;
		}
		b {
			display: block;
		}
	}

	&__ingredients {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: $z-index--base +10;
		background: rgba(0,0,0,.55);
		padding: 15px;
		color: $color-text-3;
		opacity: 0;
		transition: all .15s linear;

		ul {
			list-style: none;
		}
	}
	&.isOpen &__ingredients {
		opacity: 1;
	}


	&__recipe {
		padding: 15px;
		color: $color-text-1;
		display: none;

		h3 {
			font-size: $font-size--xlarge;
			font-weight: $font-weight--bold;
			margin-bottom: 10px;
			line-height: 1.4em;
		}
	}

	&.isOpen &__button {
		background: $color-brand-1;
	}
	&.isOpen &__recipe {
		display: block;
	}

}
